<div class="col-md-6 offset-md-3">
    <h3 style="font-family: 'Poppins', sans-serif;" class="header-text">Make an appointment</h3>
    <div class="text-center">
    <img style="height: 50%;width: 60%;margin-bottom: 3px;border-radius: 50%;" src="https://img.freepik.com/free-vector/appointment-booking-with-calendar_52683-39644.jpg?w=2000" class="img-fluid" >
    </div>
    <form  (ngSubmit)="onSubmit()">
        <mat-form-field class="col-12">
            <mat-label> Please state the name </mat-label>
            <input matInput type="text"  id="name" [(ngModel)]="patient.name" name="name">
        </mat-form-field>
        
            <mat-form-field class="col-12">
                <mat-label> Description of any abnormalities / regular checkup </mat-label>
                <input matInput type="text"  id="qualification" [(ngModel)]="patient.desc"
                    name="decription">
            </mat-form-field>
            <mat-form-field class="col-12">
                <mat-label> Please provide the phone number so we can contact you in case of any discrepancy </mat-label>
                <input matInput type="text"  id="phone" [(ngModel)]="patient.phone"
                    name="phone">
            </mat-form-field>
        
        <div class="row">
            <mat-form-field class="form-group col-6">
                <mat-label> State the age </mat-label>
                <input matInput type="text"  id="age" [(ngModel)]="patient.age"
                    name="age">
            </mat-form-field>
            <mat-form-field class="form-group col-6">
                <mat-label>State your gender </mat-label>
                <mat-select [(ngModel)]="patient.gender" id="gender" name="gender">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
              <mat-option value="Others">Others</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="form-group col-6">
                <mat-label> Preferred date </mat-label>
                <input matInput type="date"  id="appointmentdate" [(ngModel)]="patient.appointmentdate"
                    name="appointmentdate">
            </mat-form-field>
            <mat-form-field class="form-group col-6">
                <mat-label> Preferred Doctor </mat-label>
                <input matInput type="text"  id="doctor" [(ngModel)]="patient.doctor"
                    name="doctor">
            </mat-form-field>
        </div>
        <div class="container text-center">
        <button class="btn" mat-raised-button color="accent" type="submit">Confirm Appointment</button>
    </div>
    </form>
    </div>

    <h2>Done with your Confirmation ? Please dedicate a minute and check your details at our Appointment List because life is precious and its better prevention than cure </h2>
    <div class="container text-center">
        <a routerLink="/patients" class="btn" mat-raised-button color="accent" >Check the appointments page</a>
    </div>
    
    <!--<table class="table">
        <thead>
            <tr>
            <th>Name</th>
            <th>Qualification</th>
            <th>Date of Birth</th>
            <th>Specializaton</th>
            <th>Phone No</th>
            <th>Email</th>
            
        </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let doctor of doctors">
                <td>{{doctor.name}}</td>
                <td>{{doctor.qualification}}</td>
                <td>{{doctor.dob}}</td>
                <td>{{doctor.specialization}}</td>
                <td>{{doctor.phoneno}}</td>
                <td>{{doctor.email}}</td>
                <td>
                    <button (click)="updateDoctor(doctor.id)" class="btn btn-info">Update</button>
                    <button (click)="deleteDoctor(doctor.id)" class="btn btn-danger">Delete</button>
                    <button (click)="doctorDetails(doctor.id)" class="btn btn-info">View</button>
                </td>
            </tr>
            
        </tbody>
    </table>-->

   
    
