.header-text{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    
}
p{
    line-height: 1.5;
}

.field{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.full-width{
    width: 100%;
    
}

.submit{
    margin-right: 5%;
}